/*Dave Ferris*/
@charset "UTF-8";

/*************************************************************
					Home Page Styling
*************************************************************/

body
{
	background-color:#555555;
	color:#FFFFFF;
	font-family:Geneva, Helvetica, sans-sarif;
	font-size:11px;
}

#container
{
	width:70%;
	border-color:#000000;
	border-width:1px;
	border-style:solid;

	margin-left:auto;
	margin-right:auto;
}

/*************************************************************
					Menu Bar Styling
*************************************************************/

.menu_bar
{
	width:100%;
	background-color:#00BB00;
	text-align:center;
	padding-top:6px;
	padding-bottom:6px;
}

.menu_bar ul
{
	list-style:none;
	background-color:#00BB00;
}

.menu_bar ul li
{
	display:inline;
	text-align:center;
}

.menu_bar ul li a
{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:16px;
	text-decoration:none;
	padding-top:10px;
	padding-bottom:10px; 
	padding-left:20px;
	padding-right:20px; 
}

.menu_bar ul li a:link{color:#FFFFFF;}
.menu_bar ul li a:visited{color:#FFFFFF;}
.menu_bar ul li a:hover{background-color:#CC0000;}
.menu_bar ul li a:active{background-color:#CC0000;}



/*************************************************************
					Banner Styling
*************************************************************/

#banner
{
	width:99%;
	height:350px;	/*Temporary*/
	border-color:#CD7F32;
	border-width:1%;
	border-style:groove;
	background-color:#3300BB;
}

/*************************************************************
					Cell Styling
*************************************************************/

.imgcell
{
	width:24%;
	height:240px;	/*Temporary*/
	border-style:none;
	float:left;
}

#container .imgcell
{
	margin-top:20px;
	margin-bottom:15px;
	margin-left:0.5%;
	margin-right:0.5%;
	padding:0px;
	background-color:#0066BB;
}

/*************************************************************
					Feed Styling
*************************************************************/

.feed_area
{
	width:65%;
	height:400px;	/*Temporary*/
	border-style:dotted;
	border-color:#FFFFFF;
	border-width:1px; 
	margin-left:0.5%;
}
